/* Секция компонента формы поиска */

.search {
  width: 100%;
}

/* Форма поисковой формы */

.search__form {
  width: calc(100% - 70px * 2);
  margin: 0 auto;
}

/* Враппер для формы поиска и элементов */

.search__form-wrapper {
  position: relative;
}

/* Форма поиска */

.search__form-input {
  display: block;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 70px;
  margin-bottom: 10px;
  width: 100%;
  height: 60px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(204, 204, 204, 1);
  outline: none;
  text-align: center;
  font-size: 28px;
  line-height: 34px;
}

/* Кнопка общие стили */

.search__form-button {
  width: 34px;
  height: 34px;
  border-radius: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: absolute;
}

/* Декоративная иконка поиска модификатор */

.search__form-button_type_search {
  background-image: url('../../images/search-icon.svg');
  border: 1px solid #e8e8e8;
  bottom: 15px;
  left: 0;
}

/* Кнопка поиска модификатор */

.search__form-button_type_find {
  background-image: url('../../images/find-icon2.svg');
  border: none;
  background-color: #3456F3;
  right: 0;
  bottom: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in;
}

/* Кнопка поиска в состоянии наведения */

.search__form-button_type_find:hover {
  background-color: #1d56b8;
}

/* Сообщение об ошибке формы поиска */

.search__form-error {
  font-size: 10px;
  line-height: 12px;
  color: #FF3055;
}

/* Враппер для элементов тоггла */

.search__toggle-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 50px;
}

/* Тоггл в обычном состоянии */

.search__toggle {
  width: 36px;
  height: 20px;
  margin-right: 12px;
  position: relative;
  background-color: #e8e8e8;
  top: 0;
  left: 0;
  outline: none;
  cursor: pointer;
  border-radius: 20px;  
  appearance: none;
  -webkit-appearance: none;
  transition-timing-function: ease-in;
  transition-duration: .4s;
}

/* Кружочек в обычном состоянии */

.search__toggle::after {
  content: '';
  position: absolute;
  background-color: #3a3a3a;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  transition: left .3s;
  border-radius: 50%;
}

/* Активная кнопка */

.search__toggle:checked {
  background-color: #2BE080;
}

/* Активный кружочек */

.search__toggle:checked::after {
  content: '';
  top: 6px;
  left: 22px;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
}

/* Лейбл-текст для тогла */

.search__toggle-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

@media screen and (max-width: 768px) {
  .search__form {
    width: calc(100% - 30px * 2);
  }
}

@media screen and (max-width: 450px) {
  .search__form {
    width: calc(100% - 14px * 2);
  }
  .search__form-button_type_search {
    display: none;
  }
  .search__form-input {
    text-align: left;
    font-size: 18px;
    line-height: 22px;
  }
  .search__toggle-wrapper {
    margin-bottom: 91px;
  }
}